---
import Navbar from "../lib/Navbar.svelte"
import Main from "../lib/Main.svelte"
import Contact from "../lib/Contact.svelte"
import Work from "../lib/Work.svelte"
import Footer from "../lib/Footer.svelte"

let title = 'Lalit Yalamanchili';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        img, h1, p, button, form, a {
            z-index: 50 !important;
        }               
    </style>
</head>
<body>
    <main class="flex items-center justify-center flex-col z-50 w-full">
        <Navbar client:load/>
        <Main client:load/>
        <Contact client:visible/>
        <Work client:visible/>
        <Footer />
    </main>
    //
</body>
</html>
